*{
  width:100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-image: url("https://peopledotcom.files.wordpress.com/2011/06/panda-2-660.jpg?w=660");
}

#top-half{
  background-color: white;
  opacity: 0.7;
  margin: 200px auto;
  text-align: center;
}
