*{
  width:100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#top-half {
  height: 50%;
  background-color: #AA8EB5;
}
#bottom-left{
  display: inline-block;
  width: 45%;
  height: 50%;
  background-color: grey;
}
#bottom-right{
  display: inline-block;
  width: 45%;
  height:50%;
  background-color: lightblue;
}
